html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
#App {
    display: grid;
    margin: 1.5em auto;
    max-width: 1200px;
    column-gap: 1.5em;
    grid-template-areas: 
    "header"
    "recentWord"
    "random"
    "results"
    "trigger";
}

button{
    height: 1.5rem;
    padding: 0 0.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
}
button:hover{
    cursor: pointer;
}


.results {
    grid-area: results;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-gap: 10px;
}
/* 992px 이하: 3개
  768px 이하: 2개
  576px 이하: 1개 */

@media (max-width: 992px) {
    .results {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}

@media (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media (max-width: 576px) {
    .results {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}
.results .image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.results__item {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.search {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.search__input {
    width: 60%;
    height: 3rem;
    font-size: 20px;
    padding: 10px 15px;
}

.recent{
    grid-area: recentWord;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.recent__word{
    margin-left: 5px;
    padding: 5px 10px;
    
    border-radius: 10px;
    background-color: #eee;
}

.recent__word:hover{
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup__title {
    display: flex;
    justify-content: space-between;
}

.popup__close:hover{
    cursor: pointer;
}

.popup__title,
.popup__description {
    padding: 5px;
}

.popup__content-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
}
.popup__content-wrapper img {
    width: 100%;
}

@media (max-width: 768px) {
    .popup__content-wrapper {
        width:100%;
        
    }
}

/* dark mode 처리 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: white;
    }
}

.dark {
    background-color: #000;
    color: white;
}

.random{
    grid-area: random;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "bn bn bn bn"
    ". prev-btn next-btn .";
}

.random__btn--prev{
    width: 50px;
    grid-area: prev-btn;
    justify-self: end;
    margin-right: 1rem;
}
.random__btn--next{
    width: 50px;
    grid-area:next-btn;
    margin-left : 1rem;
}

.random__banner {
    grid-area: bn;
    display: grid;
    grid-template-columns: repeat(50,20%);
    /* column-gap: 0.5rem; */
    /* justify-content: center; */
    align-items: center;
    height: 150px;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.random__banner--item {
    position: relative;
    background-color: #eee; 
    right : 0px;
    height: 150px;
    width: 100%;
    transition: 0.7s ease;
}
.random__banner--item img {
    margin: auto;
    width: 100%;
    height: 150px;
    object-fit: fill;
}


.fade-in{
    animation: fadeIn 0.5s 
}
.fade-out{
    animation: fadeOut 0.5s;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(109, 109, 109) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
animation-delay: -0.15s;
}
@keyframes lds-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

.results.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.random__banner.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trigger{
    grid-area: trigger;
    width: 100%;
    height: 20px;
    background-color: aqua;
    position: relative;
}

.dummy{
    width: 200px;
    height: 200px;
    background-color: black;
}